@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.switch-wrapper {
  @apply relative w-full;
  position: relative;
}

.switch-wrapper > div {
  @apply absolute w-full;
}
